@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Inline|Concert+One|Permanent+Marker|Righteous");

@font-face {
  font-family: "Bungee Inline", "Concert One", "Amatic SC", "Permanent Marker",
    "Righteous", cursive;
  src: url("https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Inline|Concert+One|Permanent+Marker|Righteous");
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/space_needle_tower_seattle-wide.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landingHeader {
  font-family: "Bungee Inline", cursive;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.dashboard,
.creatWizard,
.profile {
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(44, 44, 44, 0.562),
      rgba(59, 57, 58, 0.562)
    ),
    url("./img/pp-attractions-pikeplace-compressed.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 160vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.create-profile,
.add-music,
.add-band,
.edit-profile {
  background: rgba(170, 170, 170, 0.836);
  font-family: "Permanent Marker", cursive;
  color: black;
}

.dashboardFont {
  font-family: "Concert One";
  color: white;
}

div.pushable {
  width: auto;
}

.card {
  background: rgb(3, 0, 204);
}
